*.iml
.gradle
/androidApp
/local.properties
.idea
.DS_Store
/build
*/build
misc.xml
vcs.xml
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
/keystore.properties
*/keystore.properties
/.kotlin/
